# Time Series - Window Functions

In this notebook we look at moving averages and exponentially weighted moving averages.

In [1]:
#imports
import pandas as pd
import numpy as np

## Apple Stock Data

We will work with Apple stock data from 1/1/2017-9/1/2017. We begin by reading in the data and doing the necessary conversion.

In [2]:
#Read in the data
df_AAPL = pd.read_csv("Data/AAPL.csv", parse_dates=["Date"], index_col=0)

df_AAPL.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
1,2017-01-04,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2,2017-01-05,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
3,2017-01-06,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
4,2017-01-09,117.949997,119.430000,117.940002,118.989998,117.106812,33561900

In [3]:
#Set the Date column to be the index
df_AAPL.set_index("Date", inplace = True)

df_AAPL.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2017-01-05,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
2017-01-06,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
2017-01-09,117.949997,119.430000,117.940002,118.989998,117.106812,33561900

### Rolling Statistics

This bit of this notebook will be in computing rolling statistics. We will focus again on the closing price. All we we need is the rolling method.

In [5]:
price_close = df_AAPL.Close

#Rolling mean - 10 day window
ten_day_mean = price_close.rolling(window = 10).mean()

ten_day_mean.head(15)

Date
2017-01-03        NaN
2017-01-04        NaN
2017-01-05        NaN
2017-01-06        NaN
2017-01-09        NaN
2017-01-10        NaN
2017-01-11        NaN
2017-01-12        NaN
2017-01-13        NaN
2017-01-17    118.283
2017-01-18    118.667
2017-01-19    119.043
2017-01-20    119.382
2017-01-23    119.599
2017-01-24    119.697
Name: Close, dtype: float64

We can do multiple functions using agg method as follows:

In [6]:
#Rolling mean, min - 10 day window
ten_day_mean_min = price_close.rolling(window = 10).agg(["mean", "min"])

ten_day_mean_min.head(15)

               mean         min
Date
2017-01-03      NaN         NaN
2017-01-04      NaN         NaN
2017-01-05      NaN         NaN
2017-01-06      NaN         NaN
2017-01-09      NaN         NaN
2017-01-10      NaN         NaN
2017-01-11      NaN         NaN
2017-01-12      NaN         NaN
2017-01-13      NaN         NaN
2017-01-17  118.283  116.019997
2017-01-18  118.667  116.019997
2017-01-19  119.043  116.610001
2017-01-20  119.382  117.910004
2017-01-23  119.599  118.989998
2017-01-24  119.697  119.040001

Notice that we get NaNs for the first 9 entries since our rolling mean needs 10 values.  If you would pandas to compute rolling windows of 10, but if there are fewer than 10 points, still compute a mean if there are at least 5 we can do this with the min_periods argument as follows

In [7]:
#Set min periods threshold
price_close.rolling(window = 10, min_periods=5).mean().head(8)

Date
2017-01-03           NaN
2017-01-04           NaN
2017-01-05           NaN
2017-01-06           NaN
2017-01-09    117.136000
2017-01-10    117.465001
2017-01-11    117.791429
2017-01-12    117.973750
Name: Close, dtype: float64

In this case, there are only 4 NaNs.  It should also be noted, that all of the points have the same weight when computing rolling statistics. This can be changed with the win_type argument. A popular approach is to do an exponentially weight moving average.  There is a built in exponential weighted moving  (ewm) in pandas.

In [8]:
#EWMA
price_close.ewm(span = 3).mean().head(10)

Date
2017-01-03    116.150002
2017-01-04    116.063332
2017-01-05    116.375714
2017-01-06    117.194002
2017-01-09    118.120968
2017-01-10    118.623334
2017-01-11    119.191103
2017-01-12    119.220667
2017-01-13    119.130157
2017-01-17    119.565504
Name: Close, dtype: float64